.barchart-container{
	background-color: #FBFBFB;
	width: 835px;
	height: 320px;
	padding: 50px;
	border-radius: 5px;
}
.barchart.title{
	padding-bottom: -10px;
}
.recharts-default-legend{
	margin-bottom: 20px;
}
.recharts-default-legend{
	position: relative;
	top: -25px;
}

@media screen and (max-width : 1024px) {
	.barchart-container{
		background-color: #FBFBFB;
		width: 650px;
		height: 250px;
	}
	}