.page{
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.profile-content{
	display: flex;
	flex-direction: column;
	gap: 40px;

}
.profile-chart{
	display: flex;
	justify-content: space-between;
}
.info-container{
	display: flex;
	flex-direction: column;
	gap: 30px;
}

@media screen and (max-width : 1024px) {
	.container{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.profile-chart{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.info-container{
		display: flex;
		flex-direction: row;
		gap: 30px;
	}
	.chart-container{
		display: flex;
		justify-content: space-between;
	}
	
	}