.progress-label{
	font-weight: 700;
	font-size: 26px;
	line-height: 26px;
	color: #282D30;
}
.progress-label-text{
	font-weight: 700;
	font-size: 26px;
	line-height: 26px;
	color: #74798C !important;
}
.score-container{
	background: #FBFBFB;
	width: 250px;
	height: 250px;
}
.score-container span{
	padding-left: 10px;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
}